<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mdsgpp.eef"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:theme="@style/AppTheme" >
        <uses-library android:name="android.test.runner" />

        <activity
            android:name="com.mdsgpp.eef.views.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mdsgpp.eef.views.ScreenState"
            android:icon="@drawable/home"
            android:label="@string/title_activity_tela_estado"
            android:parentActivityName="views.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.views.ScreenStateList"
            android:icon="@drawable/home"
            android:label="@string/title_activity_tela_lista_estado"
            android:parentActivityName="views.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.views.ScreenComparation"
            android:icon="@drawable/home"
            android:label="@string/title_activity_tela_comparacao"
            android:parentActivityName="views.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.views.ScreenOver"
            android:icon="@drawable/home"
            android:label="@string/title_activity_tela_sobre"
            android:parentActivityName="views.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.views.ScreenConsultedIndicative"
            android:icon="@drawable/home"
            android:label="@string/title_activity_tela_indicativos_consultados"
            android:parentActivityName="views.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.views.ScreenQueryResult"
            android:icon="@drawable/home"
            android:label="@string/title_activity_tela_resultado_consulta"
            android:parentActivityName="views.MainActivity" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.views.ScreenFeed"
            android:icon="@drawable/home"
            android:label="@string/title_activity_tela_feed"
            android:parentActivityName="views.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.views.ScreenFeedAbout"
            android:icon="@drawable/home"
            android:label="@string/title_activity_tela_feed_sobre"
            android:parentActivityName="views.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.views.ChooseIndicativeWithCompareGraphScreen"
            android:icon="@drawable/home"
            android:label="@string/title_activity_tela_escolhe_indicativo_grafico"
            android:parentActivityName="views.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.views.ChooseIndicativeWithLineGraphScreen"
            android:icon="@drawable/home"
            android:label="@string/title_activity_tela_escolhe_indicativo_grafico"
            android:parentActivityName="views.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.views.GraphScreen"
            android:icon="@drawable/home"
            android:label="@string/title_activity_tela_grafico"
            android:parentActivityName="views.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.views.ScreenLineGraph"
            android:icon="@drawable/home"
            android:label="@string/title_activity_tela_grafico"
            android:parentActivityName="views.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.views.ScreenOverIndicatives"
            android:icon="@drawable/home"
            android:label="@string/title_activity_sobre_indicativos"
            android:parentActivityName="views.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.views.ScreenOverQuery"
            android:icon="@drawable/home"
            android:label="@string/title_activity_tela_sobre_consulta"
            android:parentActivityName="views.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.views.ScreenOverComparison"
            android:icon="@drawable/home"
            android:label="@string/title_activity_tela_sobre_comparacao"
            android:parentActivityName="views.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.views.ScreenGeneralComparations"
            android:icon="@drawable/home"
            android:label="@string/title_activity_tela_comparacoes_gerais"
            android:parentActivityName="views.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.views.ScreenQueryPerIndicative"
            android:icon="@drawable/home"
            android:label="@string/title_activity_tela_consulta_por_indicativo"
            android:parentActivityName="views.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.views.ScreenQueryResultPerIndicative"
            android:icon="@drawable/home"
            android:label="@string/title_activity_tela_resultado_consulta_por_indicativo"
            android:parentActivityName="views.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.views.ScreenStateHistory"
            android:icon="@drawable/home"
            android:label="@string/title_activity_tela_historico_estado"
            android:parentActivityName="views.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.views.ScreenOverGeneralComparisons"
            android:icon="@drawable/home"
            android:label="@string/title_activity_tela_sobre_comparacoes_gerais"
            android:parentActivityName="views.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.views.ScreenOverStateList"
            android:icon="@drawable/home"
            android:label="@string/title_activity_tela_sobre_lista_estado"
            android:parentActivityName="views.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.views.ScreenOverState"
            android:icon="@drawable/home"
            android:label="@string/title_activity_tela_sobre_estado"
            android:parentActivityName="views.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.views.ScreenOverStateComparison"
            android:icon="@drawable/home"
            android:label="@string/title_activity_sobre_comparacao_estados"
            android:parentActivityName="views.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.views.ScreenOverIndicativeChoice"
            android:icon="@drawable/home"
            android:label="@string/title_activity_tela_sobre_escolha_indicativo"
            android:parentActivityName="views.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.views.ScreenOverQueryResult"
            android:icon="@drawable/home"
            android:label="@string/title_activity_tela_sobre_resultado_da_consulta"
            android:parentActivityName="views.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.views.ScreenOverIndicativeHistory"
            android:icon="@drawable/home"
            android:label="@string/title_activity_sobre_historico_de_indicativo"
            android:parentActivityName="views.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.views.ScreenOverGraphic"
            android:icon="@drawable/home"
            android:label="@string/title_activity_tela_sobre_grafico"
            android:parentActivityName="views.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.views.ScreenOverIndicativeChoiceComparisonGraphic"
            android:icon="@drawable/home"
            android:label="@string/title_activity_tela_sobre_escolhe_indicativo_grafico_comparacao"
            android:parentActivityName="views.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>